{%- comment -%}

    @params
    max_value - if used for product or need install max value send that value  
{%- endcomment -%}

<quantity-selector class="counter" data-form-id="{{- form_id -}}">
    <button class="counter__button disabled" 
        type="button" 
        data-product-counter-minus 
        aria-label="{{- "general.buttons.minus" | t -}}" 
        disabled
    >
        {%- render "icon-minus" -%}
    </button>
    <label for="{{- section.id -}}-quantity-input">
        <quantity-input>
            <input class="counter__input" 
                id="{{- section.id -}}-quantity-input" 
                aria-label="{{ product.title }} quantity" 
                name="quantity" 
                type="number" 
                value="1" 
                {% if max_value != blank %}max="{{- max_value -}}"{% endif %}
                data-product-quantity-input 
            >
        </quantity-input>
    </label>
    <button class="counter__button" 
        type="button" 
        data-product-counter-plus 
        aria-label="{{- "general.buttons.plus" | t -}}"
    >
        {%- render "icon-plus" -%}
    </button>
</quantity-selector>
