{%- comment -%}

    @params

    size_guide_page - to get table for size guide need paste page and get content from page - {page object} *required
{%- endcomment -%}

<modal-container class="size-guide" 
    data-modal-id="modal-size-guide--{{- section.id -}}"
    data-modal-oveflow
>
    <div class="size-guide__modal">
        <div class="size-guide__heading">
            <p class="paragraph text-upper weight weight--regular">
                {{- "sections.product.size_guide.heading" | t -}}
            </p>
            <button class="size-guide__close-button close-button-scale" data-modal-close-button>
                {% render "icon-cross" %}
            </button>
        </div>
        <size-guide-converter class="size-guide__wrapper">
            <div class="size-guide__selector">
                <h4 class="weight weight--regular">
                    Select your country
                </h4>

                <div class="size-guide__selector-body">
                    <div class="size-guide__selector-dropdown-wrapper">
                        <select class="size-guide__selector-dropdown" data-size-guide-select data-size-change></select>
                        <span class="size-guide-selector-dropdown__icon-wrapper">
                            {% render 'icon-chevron' %}
                        </span>
                    </div>
                    <div class="size-guide__selector-checkboxes">
                        <div class="size-guide__selector-group">
                            <input class="size-guide__selector-radio" id="size-guide-radio--1" name="size-guide-input" type="radio" data-size="cm" data-size-change checked>
                            <label class="size-guide__selector-label" for="size-guide-radio--1">
                                <span class="size-guide__selector-checkbox"></span>
                                <span class="size-guide__selector-text">Cm</span>
                            </label>
                        </div>
                        <div class="size-guide__selector-group">
                            <input class="size-guide__selector-radio" id="size-guide-radio--2" name="size-guide-input" data-size="inch" type="radio" data-size-change>
                            <label class="size-guide__selector-label" for="size-guide-radio--2">
                                <span class="size-guide__selector-checkbox"></span>
                                <span class="size-guide__selector-text">Inches</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="size-guide__wrapper-content" data-size-guide-content>
                {{- size_guide_page.content -}}
            </div>

            {%- if size_guide_image != blank -%}
                <picture>
                    <img class="size-guide__image" src="{{- size_guide_image | img_url: '600x' -}}" alt="{{- size_guide_image.alt -}}">
                </picture>
            {%- endif -%}
        </size-guide-converter>
    </div>
    <div class="size-guide__backdrop" data-modal-backdrop></div>
</modal-container>

