<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {%- comment -%}start:Swiper basic styles{%- endcomment -%}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    {%- comment -%}end:Swiper basic styles{%- endcomment -%}
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    <link
      id="ModelViewerStyle"
      rel="stylesheet"
      href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
      media="print"
      onload="this.media='all'"
    >

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <script src="{{ 'overflow-switcher.js' | asset_url }}"></script>
    <script src="{{ 'media.js' | asset_url }}"></script>
    <script src="{{ 'slide-selection.js' | asset_url }}"></script>
    <script src="{{ 'slider-navigation.js' | asset_url }}"></script>
    <script src="{{ 'swiper-options.js' | asset_url }}"></script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'modal.js' | asset_url }}"></script>

    {{ content_for_header }}

    {%- liquid
      assign body_font_light = settings.type_body_font | font_modify: 'weight', '300'
      assign body_font_regular = settings.type_body_font | font_modify:  'weight', '400'
      assign body_font_medium = settings.type_body_font | font_modify:  'weight', '500'
    %}

    {% style %}
        {{ settings.type_body_font | font_face: font_display: 'swap' }}

        {{ body_font_light | font_face: font_display: 'swap' }}
        {{ body_font_regular | font_face: font_display: 'swap' }}
        {{ body_font_medium | font_face: font_display: 'swap' }}

        :root {
            --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
            --font-body-style: {{ settings.type_body_font.style }};

            --font-body-weight-light: {{ settings.type_body_font.weight | minus: 100 | at_least: 100 }};
            --font-body-weight-regular: {{ settings.type_body_font.weight }};
            --font-body-weight-medium: {{ settings.type_body_font.weight | plus: 100 | at_most: 1000 }};
        }

        @font-face {
            font-family: 'Outfit';
            src: url("{{ 'Outfit-Light.woff2' | asset_url }}") format('woff2');
            font-weight: 300;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'Outfit';
            src: url("{{ 'Outfit-Regular.woff2' | asset_url }}") format('woff2');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'Outfit';
            src: url("{{ 'Outfit-Medium.woff2' | asset_url }}") format('woff2');
            font-weight: 500;
            font-style: normal;
            font-display: swap;
        }
    {% endstyle %}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'main.css' | asset_url | stylesheet_tag }}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    if (Shopify.designMode) {
      document.documentElement.classList.add('shopify-design-mode');
    }
    </script>
  </head>

  <body class="gradient">
    <a class="skip-to-content-link visually-hidden button button--outline" href="#MainContent">
      {{- "general.skip_to_content" | t -}}
    </a>

    {% sections 'header-group' %}
    {% sections 'overlay-group' %}

    <main id="MainContent" class="content-for-layout" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        root: '{{ routes.root_url }}',
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };
       window.price = {
        money_format: '
        {%- if settings.currency_code_enabled -%}
          {{- shop.money_with_currency_format -}}
        {%- else -%}
          {{- shop.money_format -}}
        {%- endif -%}
        '
      };
      window.translations = {
        sort_by: "Sort by",
        product: {
          inventory: {
            available: "{{ 'sections.product.inventory.available' | t: quantity: '[quantity]' }}",
            in_stock: "{{ 'sections.product.inventory.in_stock' | t }}",
            in_stock_quantity_html: "{{ 'sections.product.inventory.in_stock_quantity_html' | t: quantity: '[quantity_code]' }}",
            out_of_stock: "{{ 'sections.product.inventory.out_of_stock' | t }}"
          },
          buttons: {
            add_to_cart: "{{ 'sections.product.buttons.add_to_cart' | t }}",
            sold_out: "{{ 'sections.product.buttons.sold_out' | t }}",
            unavailable: "{{ 'sections.product.buttons.unavailable' | t }}"
          },
          sizeGuide: {
            inc: "{{ 'sections.product.size-guide.inc' | t: value: '[value]' }}",
            cm: "{{ 'sections.product.size-guide.cm' | t: value: '[value]' }}"
          }
        }
      };
    </script>
  </body>
</html>
