{{- "footer.css" | asset_url | stylesheet_tag -}}

{%- assign blocks = section.blocks -%}
{%- assign link_list = section.settings.link_list -%}

<footer class="footer container">
    {%- if blocks != blank -%}
        <div class="footer-top">
            <p class="paragraph text-upper weight weight--regular">
                Locations
            </p>
            <ul class="footer-top__list">
                {%- for block in blocks -%}
                    {%- assign location_text = block.settings.location_text -%}

                    <li class="footer-top__item paragraph weight weight--light">
                        {{- location_text -}}
                    </li>
                {%- endfor -%} 
            </ul>
        </div>
    {%- endif -%}
    
    <div class="footer-center">
        {%- for link in link_list.links -%}
            <div class="footer-center__item">
                <a href="{{- link.url -}}" class="paragrapth text-upper weight weight--regular">
                    {{- link.title -}}
                </a>
                {%- if link.links != blank -%}
                    <ul class="footer-center__item-list">
                        {%- for childlink in link.links -%}
                            <li>
                                <a class="paragraph weight weight--light" href="{{- childlink.url -}}">
                                    {{- childlink.title -}}
                                </a> 
                            </li>
                        {%- endfor -%}
                    </ul>
                {%- endif -%}
            </div>
        {%- endfor -%}
        
        <div class="footer-newsletter">
            <div class="footer-newsletter__header">
                <p class="paragraph text-upper weight weight--regular">
                    JOIN the cashmere sale
                </p>
                <p class="footer-newsletter__description paragraph weight weight--light">
                    Subscribe  to receive updates and find out where we are popping up soon!
                </p>
            </div>
        
            {% form 'customer', id: section.id, class: "footer-newsletter__form" %}
                {%- if form.posted_successfully? -%}
                    <p class="paragraph">
                        Your subscription to our newsletter has been successful!
                    </p>
                {%- else -%}
                    {%- if form.errors != blank -%}
                        <div class="rte">{{- form.errors | default_errors -}}</div>
                    {%- endif -%}

                    <label class="footer-newsletter__label">
                        <input type="email" 
                            class="footer-newsletter__input" 
                            placeholder="{{- "general.fields.email.placeholder" | t -}}" 
                            aria-label="{{- "general.fields.email.aria_label" | t -}}"
                            name="contact[email]"
                            required
                        >
                    </label>
                    
                    <button class="footer-newsletter__button button paragraph weight weight--regular" type="submit" aria-label="{{- "general.buttons.subscribe" | t -}}">
                        SUBSCRIBE
                    </button>
                {%- endif -%}
            {%- endform -%}
        </div>

        <div class="footer-payments">
            <div class="footer-payments__column">
                <p class="paragraph weight weight--regular text-upper">
                    We accept
                </p>
                <div class="footer-payments__column-list">
                    {%- for payment_type in shop.enabled_payment_types -%}
                        <div class="footer-payments__column-item">
                            {{- payment_type | payment_type_svg_tag -}}
                        </div>    
                    {% endfor %}
                </div>
            </div>
            <div class="footer-payments__column">
                <p class="paragraph weight weight--regular text-upper">
                    GET SOCIAL
                </p>
                <div class="footer-payments__column-list">
                    {% render 'social-icons', class_name: "footer-payments__socials" %}
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p class="paragraph weight weight--light text-upper">
            {%- assign year = "now" | date: '%Y'  -%}
            
            © {{ year }} THE CASHMERE SALE
        </p>
        <p class="footer-bottom__row extra-small weight weight--regular">
            <span>
                Made with 
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                <path d="M11.786 2.79465C11.4644 2.47074 11.0819 2.21359 10.6605 2.038C10.2392 1.86241 9.78727 1.77183 9.33079 1.77148C8.46735 1.77163 7.63545 2.09598 6.99979 2.68032C6.36419 2.09588 5.53224 1.77151 4.66879 1.77148C4.21177 1.77196 3.75935 1.86281 3.33758 2.03881C2.91581 2.2148 2.53301 2.47247 2.2112 2.79698C0.838619 4.1754 0.839202 6.3314 2.21237 7.70398L6.99979 12.4914L11.7872 7.70398C13.1604 6.3314 13.161 4.1754 11.786 2.79465Z" fill="currentColor"/>
            </svg>
            <span>
                and
            </span>
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_3318_3721)">
            <path d="M2.9165 1.75H11.6665C11.9759 1.75 12.2727 1.87292 12.4915 2.09171C12.7103 2.3105 12.8332 2.60725 12.8332 2.91667V4.66667C12.8332 4.97609 12.7103 5.27283 12.4915 5.49162C12.2727 5.71042 11.9759 5.83333 11.6665 5.83333H10.4998V7.58333C10.4998 8.20217 10.254 8.79566 9.81642 9.23325C9.37883 9.67083 8.78534 9.91667 8.1665 9.91667H4.6665C4.04767 9.91667 3.45417 9.67083 3.01659 9.23325C2.579 8.79566 2.33317 8.20217 2.33317 7.58333V2.33333C2.33317 2.17862 2.39463 2.03025 2.50403 1.92085C2.61342 1.81146 2.76179 1.75 2.9165 1.75ZM10.4998 2.91667V4.66667H11.6665V2.91667H10.4998ZM1.1665 11.0833H11.6665V12.25H1.1665V11.0833Z" fill="currentColor"/>
            </g>
            <defs>
            <clipPath id="clip0_3318_3721">
            <rect width="14" height="14" fill="white"/>
            </clipPath>
            </defs>
            </svg>
            <span class="footer-bottom__text-row">
                by Arctic Grey
            </span>        
        </p>
    </div>
</footer>

{% schema %}
    {
        "name": "Footer",
        "settings": [
            {
                "type": "link_list",
                "id": "link_list",
                "label": "Menu",
                "default": "footer"
            }
        ],
        "blocks": [
            {
                "type": "location",
                "name": "Location",
                "settings": [
                    {
                        "type": "richtext",
                        "id": "location_text",
                        "label": "Text",
                        "default": "<p>Location name</p>"
                    }
                ]
            }
        ]
    }
{% endschema %}