{{- "instagram.css" | asset_url | stylesheet_tag -}}

{%- liquid
    assign sub_heading      = section.settings.sub_heading
    assign sub_heading_link = section.settings.sub_heading_link
    assign heading          = section.settings.heading
    assign blocks           = section.blocks
-%}

<div class="instagram">
    <div class="instagram__header">
        {%- if sub_heading != blank -%}
            <a href="{{- sub_heading_link -}}" class="instagram__subheading paragraph weight weight--regular">
                {{- sub_heading -}}
            </a>
        {%- endif -%}
        
        {%- if heading != blank -%}
            <h2 class="instagram__heading weight weight--light">
                {{- heading -}}
            </h2>
        {%- endif -%}
    </div>
    <div class="instagram__list">
        {% for block in blocks %}
            {% assign image = block.settings.image %}
            
            <div class="instagram__image-wrapper">
                {%- if image != blank -%}
                    <picture>
                        <img class="instagram__image" src="{{- image | img_url: '300x' -}}" alt="{{- image.alt -}}">
                    </picture>
                {%- else -%}
                    {%- capture image_placeholder -%}
                        {%- cycle "product-1", "product-2", "product-3", "product-4", "product-5", "product-6" -%}
                    {%- endcapture -%}

                    <div>
                        {{- image_placeholder | placeholder_svg_tag: "instagram__image placeholder-image" -}}
                    </div>
                {%- endif -%}
            </div>
        {% endfor %}
    </div>
</div>

{% schema %}
{
    "name": "Instagram",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Follow us on instagram"
        },
        {
            "type": "header",
            "content": "Subheading"
        },
        {
            "type": "text",
            "id": "sub_heading",
            "label": "Subheading",
            "default": "@thecashmeresale"
        },
        {
            "type": "url",
            "id": "sub_heading_link",
            "label": "Link",
            "info": "Pastle link to your instagram"
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name":"Instagram"
        }
    ]
}
{% endschema %}