{{- "related-products.css" | asset_url | stylesheet_tag -}}

{%- liquid
  assign heading                  = section.settings.heading
  assign products_to_show         = section.settings.products_to_show
  assign link_label               = section.settings.link_label
  assign url                      = product.metafields.recommendations.link_for_recommendations | default: section.settings.url
-%}

{%- capture products_list -%}
  {% for recommended_product in recommendations.products limit: products_to_show %}
    {%- render "product-card", product: recommended_product -%}
  {% endfor %}
{%- endcapture -%}

<section class="related-products">
  <product-recommendations
          class="container related-products__container"
          data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ products_to_show }}"
  >
    <div class="related-products__wrapper">
      <div class="related-products__top-row">
        <h2 class="related-products__heading">
          {{- heading -}}
        </h2>
      </div>

      <div class="related-products__list">
        {{- products_list -}}
      </div>

      {%- if link_label != blank -%}
        <div class="related-products__footer">
          <a href="{{- url -}}" class="related-products__button button">
            <span class="related-products__button-text paragraph weight weight--regular">
              {{- link_label -}}
            </span>
          </a>
        </div>
      {%- endif -%}

    </div>
  </product-recommendations>
</section>
{% schema %}
{
  "name": "Recommendations",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.related-products.settings.heading.label",
      "default": "You may also like"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 5,
      "label": "t:sections.related-products.settings.products_to_show.label"
    },
    {
      "type": "header",
      "content": "Shop all button"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "link_label",
      "label": "Label",
      "default": "SHOP ALL"
    }
  ],
  "presets": [
    {
      "name": "t:sections.related-products.name"
    }
  ],
  "enabled_on": {
    "templates": ["product"]
  }
}
{% endschema %}